<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek Judi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Cek Judi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        Masukkan URL untuk Deteksi
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/">
                            <div class="form-group">
                                <label for="url">URL Website:</label>
                                <input type="text" id="url" name="url" class="form-control" placeholder="Masukan URL"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Deteksi</button>
                        </form>
                    </div>
                </div>

                {% if result %}
                <div class="result-box {{ result_class }}">
                    <strong>{{ explanation }}</strong>
                </div>

                <div class="card mt-4">
                    <div class="card-header">Informasi Hasil Analisis</div>
                    <div class="card-body">
                        <p><strong>URL:</strong> {{ request.form['url'] }}</p>
                        <p><strong>Hasil Deteksi:</strong> {{ result }}</p>
                        <p><strong>Kata yang berhasil diekstrak:</strong> {{ word_count }}</p>
                        <p><strong>Karakter yang berhasil diekstrak:</strong> {{ char_count }}</p>
                        <p><strong>Kata Teratas:</strong></p>
                        <ul>
                            {% for word, count in frequent_words.items() %}
                            <li>{{ word }}: {{ count }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>

    <footer class="bg-light text-center py-3">
        <p>Made With ❤️ Ari &copy; 2024</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>